aiohttp
fsspec
h5py
ipykernel
ipython
ipywidgets
jinja2
jupyter-client
jupyter-core
matplotlib
networkx
numpy
pandas
pillow
pubchempy
rdkit
requests
scipy
sympy
torch-geometric
tqdm
typing-extensions
urllib3
xxhash